@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 800px) {
    .entranceBanner {
        font-size: 10px;
    }
}

body {
    background: #202124;
}

.entranceButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(120%);
    background: black;
    border: 2px solid #bae6fd;
}
